@import '../../../node_modules/sal.js/dist/sal.css';

:root {
    --main-color: rgb(90, 72, 216);
    --dark-color: #0C041F;
    --light-color: #F6F6F9;
    --red: #EF5454;
    --yellow: #EFC654;
    --green: #41CBA0;
    --blue: #3391FF;
    --magenta: #EB2680;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', sans-serif;
    background-color: var(--light-color);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

footer {
    padding: 20px 0;
    background-color: var(--green);
}

footer {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color);
}