#work {
    min-height: 70vh;
    padding-bottom: 10vh;
}

#our-work {
    display: block;
    height: 8vh;
}

#work h1 {
    color: var(--dark-color);
}

#work .feature-card-wrapper {
    margin: -96px auto 0;
    width: 88%;
}

@media screen and (max-width: 768px) {
    #work .feature-card-wrapper {
        margin: 0 auto;
        width: 100%;
    }
    #break-work {
        display: none;
    }
}

#scroll-button {
    position: absolute;
    transform: rotate(270deg);
    font-weight: 600;
    left: -1.2em;
    top: 6.5em;
    text-decoration: none;
    font-size: 18px;
    color: rgba(12,4,31,0.60);
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

#scroll-button:hover {
    -webkit-transform: translateY(5px) rotate(270deg);
    -moz-transform: translateY(5px) rotate(270deg);
    -ms-transform: translateY(5px) rotate(270deg);
    -o-transform: translateY(5px) rotate(270deg);
    transform: translateY(5px) rotate(270deg);
}